{% extends 'base.html' %}
{% load static %}
{% block mCss%} 
<link rel="stylesheet" href="{% static "tickets/ticket.css"%}">
{%endblock %}
{% block mTitle %}
#{{id}}
{% endblock %}
{% block mContent%}
{% include "tickets/includes/header.html" %}
<div class="timeline-small">
    <div class="header">
        <div class="color-overlay">
            <div class="header-name">Your Ticket</div>
            <div class="header-sub">Overview of #{{id}}</div>
        </div>
    </div>
    <div class="timeline-small-body">
        <ul>
            <li>
                <div class="bullet pink"></div>
                <div class="date">Type</div>
                <div class="desc">
                    <h3>{{type}}</h3>
                    <h4>Assets -> Physical -> Laptop -> Stolen</h4>
                </div>
            </li>
            <li>
                <div class="bullet orange"></div>
                <div class="date">Date</div>
                <div class="desc">
                    <h3>{{date}}</h3>
                    <h4>This ticket was created {{days}} days ago.</h4>
                </div>
            </li>
            <li>
                <div class="bullet blue"></div>
                <div class="date">Status</div>
                <div class="desc">
                    <h3>{{solved}}</h3>
                    <h4>You don't need to take any further action</h4>
                </div>
            </li>
            <li>
                <div class="bullet green"></div>
                <div class="date">Description</div>
                <div class="desc">
                    <h3>{{desc}}</h3>
                    <h4>Last edited by {{createdBy}}</h4>
                </div>
            </li>
        </ul>
    </div>
</div>
{% include "tickets/includes/footer.html" %}
{% endblock  %}